body{
background-color:darkred;
color: black;
}

<<<<<<< HEAD

=======
>>>>>>> 57f5bf8cb89707d67232f3dc250c3541aff24374
h1{   
color: black;
}

article{
margin-left: 300px;
border: 3px solid red;
background-color: rgb(90, 10, 240);
margin-bottom: 40px;
display: inline-block;
}
    
<<<<<<< HEAD
=======



>>>>>>> 57f5bf8cb89707d67232f3dc250c3541aff24374
